{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}EC-CUBEのアップデート（プラグインの対応状況の確認）{% endblock %}
{% block sub_title %}{% endblock %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    {% set is_ok = unSupportedPlugins|length <= 0 %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    {% if is_ok %}
                        <div class="card-header">
                            <span>インストール済のプラグインはEC-CUBE{{ constant('Plugin\\EccubeUpdater420to421\\Common\\Constant::TO_VERSION') }}に対応しています</span>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <span>以下の{{ unSupportedPlugins|length }}プラグインはEC-CUBE{{ constant('Plugin\\EccubeUpdater420to421\\Common\\Constant::TO_VERSION') }}に対応していません。プラグインが動作しない可能性があります。</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <div class="alert alert-danger border border-danger">
                                        <ul>
                                            {% for Plugin in unSupportedPlugins %}
                                                <li>{{ Plugin.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <a class="btn btn-ec-regular"
                               href="{{ path('eccube_updater420to421_admin_config') }}">中止</a>
                            <a class="btn btn-ec-conversion"
                               href="{{ url('eccube_updater420to421_admin_check_permission') }}" {{ csrf_token_for_anchor() }}
                               data-method="post" data-confirm="false">
                                書き込み権限の確認へ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
