{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}EC-CUBEのアップデート（書き込み権限の確認）{% endblock %}
{% block sub_title %}{% endblock %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    {% set is_ok = noWritePermissions|length <= 0 %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    {% if is_ok %}
                        <div class="card-header">
                            <span>ファイルの更新が可能です。</span>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <span>以下の{{ noWritePermissions|length }}ファイルおよびディレクトリに書き込み権限を与えてください。書き込み権限の設定は、
                                <a href="http://doc4.ec-cube.net/quickstart_install" target="_blank" rel="noreferrer noopener">こちら</a>を参考にしてください。</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <div class="alert alert-danger border border-danger">
                                        <ul>
                                            {% for file in noWritePermissions %}
                                                <li>{{ file }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            {% if is_ok %}
                                <a class="btn btn-ec-conversion"
                                   href="{{ url('eccube_updater420to421_admin_check_source') }}" {{ csrf_token_for_anchor() }}
                                   data-method="post" data-confirm="false">
                                    ファイルの更新確認へ
                                </a>
                            {% else %}
                                <a class="btn btn-ec-conversion"
                                   href="{{ url('eccube_updater420to421_admin_check_permission') }}" {{ csrf_token_for_anchor() }}
                                   data-method="post" data-confirm="false">
                                    更新
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
