{#

#}
{% block javascript %}
<script>
var amazon_submit_flag = false;

$(function () {
    $('.ec-orderRole__summary').append($('.amazon_customer_regist'));

    $('input[name="_shopping_order[login_check]"]:radio').on("change", function () {
        set_required($(this));
    });
});
function set_required(e){
    if (e.val() === 'regist') {
        $("#shopping_order_customer_regist").attr('required','required');
        $("#shopping_order_amazon_login_email").removeAttr('required');
        $("#shopping_order_amazon_login_password").removeAttr('required');
    } else if (e.val() === 'login') {
        $('#shopping_order_customer_regist').removeAttr('required');
        $("#shopping_order_amazon_login_email").attr('required','required');
        $("#shopping_order_amazon_login_password").attr('required','required');
    }
}
</script>
{% endblock %}

<div class="d-none">
    <div class="amazon_customer_regist">
    {% if not is_granted('ROLE_USER') %}
        {% if AmazonPay4Config.login_required == eccube_config.amazon_pay4.toggle.on %}
            <dl>
                <dd>
                    <div >
                        {{ form_widget(form.login_check[0]) }}
                    </div>
                </dd>
            </dl>
        {% endif %}
        <dl>
            <dd>
                <div class="ec-halfInput{{ has_errors(form.customer_regist) ? ' error'}}">
                    {{ form_errors(form.customer_regist) }}
                </div>
            </dd>
        </dl>
        <dl>
            <dd>
                <label>
                    {{ form_widget(form.customer_regist) }}
                    {{ 'amazon_pay4.front.shopping.customer_regist'|trans }}
                </label>
                ※ {{ 'front.entry.agree_with_terms'|trans({ '%url%': url('help_agreement') })|raw }}
            </dd>
        </dl>
        {% if useMailMagazine %}
            <dl>
                <dd>
                    <div class="ec-halfInput{{ has_errors(form.mail_magazine) ? ' error'}}">
                        {{ form_errors(form.mail_magazine) }}
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    <label>
                        {{ form_widget(form.mail_magazine) }}
                        {{ 'amazon_pay4.front.shopping.mail_magazine'|trans }}
                    </label>
                </dd>
            </dl>
        {% endif %}
        {% if AmazonPay4Config.login_required == eccube_config.amazon_pay4.toggle.on %}
            <dl>
                <dd>
                    <div>
                        {{ form_widget(form.login_check[1]) }}
                    </div>
                </dd>
            </dl>
            <dl>
                <div class="col ec-halfInput{{ has_errors(form.amazon_login_email) ? ' error'}}">
                    {{ form_errors(form.amazon_login_email) }}
                </div>
                <dd>メールアドレス</dd>
            </dl>
            <dl>
                <div {% if form.amazon_login_email.vars.errors is not empty %}class="has-error"{% endif %}>
                    {{ form_widget(form.amazon_login_email) }}
                </div>
            </dl>
            <dl>
                <div class="col ec-halfInput{{ has_errors(form.amazon_login_password) ? ' error'}}">
                    {{ form_errors(form.amazon_login_password) }}
                </div>
                <dd>パスワード</dd>
            </dl>
            <dl>
                <div {% if form.amazon_login_password.vars.errors is not empty %}class="has-error"{% endif %}>
                    {{ form_widget(form.amazon_login_password) }}
                </div>
            </dl>
        {% endif %}
    {% endif %}
    </div>
</div>
