{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
    <style>
        .ec-login-header {
            background: #FFFFFF;
        }

        .ec-login-header > p {
            text-align: center;
            font: var(--unnamed-font-style-normal) normal medium 16px/22px YuGothic;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: center;
            font: normal normal medium 16px/22px YuGothic;
            letter-spacing: 0px;
            color: #525263;
            opacity: 1;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.2fa.device_auth.title'|trans }}</h1>
        </div>
        <div class="ec-off2Grid">
            <div class="ec-off2Grid__cell">
                <form name="send_onetime" id="send_onetime" method="post"
                      action="{{ url('plg_customer_2fa_device_auth_send_onetime', {'secret_key': secret_key} ) }}">
                    {% if app.session.flashBag.has('eccube.login.target.path') %}
                        {% for targetPath in app.session.flashBag.peek('eccube.login.target.path') %}
                            <input type="hidden" name="_target_path" value="{{ targetPath }}"/>
                        {% endfor %}
                    {% endif %}
                    <div class="ec-login ec-login-header">
                        <p>{{ 'front.2fa.device_auth.send.message'|trans|nl2br }}</p>
                    </div>
                    <div class="ec-login">
                        <div class="ec-login__icon">
                            <div class="ec-icon"><img src="{{ asset('assets/icon/user.svg') }}" alt=""></div>
                        </div>
                        <div class="ec-login__input">
                            <div class="ec-input">
                                {{ form_widget(form.phone_number, {'attr': {'style' : 'ime-mode: disabled;', 'placeholder' : 'front.2fa.sms.phone.place_holder', 'autofocus': true}}) }}
                            </div>
                            {% if error %}
                                <p class="ec-errorMessage">{{ error|nl2br }}</p>
                            {% endif %}
                        </div>
                        <div class="ec-login__input">
                            <button type="submit"
                                    class="ec-blockBtn--cancel">{{ 'front.2fa.sms.send'|trans }}</button>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
