{#
/*
 *
 * new_item.twig 
 *
 */
#}
{% set Products = CustomizeNewProductDBH() %}
{% if Products|length > 0 %}

    <div class="ec-newItemRole">
        <a href="{{ url('product_list') }}?category_id=7">
            <img class="pc_only" src="{{ asset('assets/img/top/dbh.jpg') }}">
            <img class="sp_only" src="{{ asset('assets/img/top/dbh_sp.jpg') }}">
        </a>
        <div class="ec-newItemRole__list">
 
            {% for Product in Products %}
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                    <!--<p class="ec-newItemRole__listItemTitle">{{ Product.name }}</p>
                    <p class="ec-newItemRole__listItemPrice">
                    {% if Product.hasProductClass %}
                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                            {{ Product.getPrice02IncTaxMin|price }}
                        {% else %}
                            {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                        {% endif %}
                    {% else %}
                        {{ Product.getPrice02IncTaxMin|price }}
                    {% endif %}
                    </p>-->
                </a>
            </div>
            {% endfor %}
 
        </div><!-- .ec-newItemRole__listItem end -->
        <a href="{{ url('product_list') }}?category_id=7">
            <div class="list_link sp_only">DBHくじ一覧を見る</div>
        </a>
    </div><!-- .ec-newItemRole end -->

{% endif %}